/* Estilo para botones en negro */
.button {
    display: inline-block;
    background-color: greenyellow; /* Fondo negro */
    color: magenta;            /* Texto negro */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: yellow;    /* Fondo cambia a blanco al pasar el ratón */
    color: red;               /* Texto cambia a negro al pasar el ratón */
}